Repository DenisMartsyniuk/IDP-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.{md,mdx,json,css,scss,yaml,yml}": ["prettier --write"]
}

refactoring
  .lintstagedrc.json
  src/App.js
Due: eslint --fix, prettier --write

delete settings for json
  .lintstagedrc.json
Due: prettier --write

check new settings
  .gitignore
  .lintstagedrc.json
Due: prettier --write

new setting
  .gitignore
  .prettierignore
Due: none

testing new settings
  src/App.js
Due: eslint --fix

checking settings
  .prettierignore
  src/App.js
Due: eslint --fix

test settings
  .prettierignore
Due: none

check new settings
  .lintstagedrc.json
  src/App.js
Due: eslint --fix, prettier --write

add settings
  .lintstagedrc.json
Due: prettier --write

check settings
  src/App.js
Due: eslint --fix

add storybook to project
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/stories/Button.js
  src/stories/Button.stories.js
  src/stories/button.css
  yarn.lock
Due: eslint --fix, prettier --write

refactoring structure and check setting pre-commits
  src/App.js
  src/index.js
  src/utils/reportWebVitals.js
  yarn.lock
Due: eslint --fix
